GOOGLE_API_KEY= "GEMINI API KEY"
TAVILY_API_KEY= "YOUR TAVILY API KEY FOR WEB SEARCH"

LANGCHAIN_API_KEY= "YOUR LANGCHAIN API KEY"
LANGCHAIN_TRACING_V2= "true" 
LANGCHAIN_PROJECT= "PROJECT NAME"
HUGGINGFACEHUB_API_TOKEN = "YOUR HF TOKEN"
